
/* Hide an element without making it invisible */
.accessibility-hide-element
{
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* The accessibility officer div */
.accessibility-officer-wrapper
{
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 100%;
    bottom: 0;
    padding: 5px;
    margin: 5px;
    height: 60px;
    transform: translate(-80px, 0);
    transition: transform 0.5s;
    border-radius: 10px;
    backdrop-filter: blur(5px) brightness(0.7);
    -webkit-backdrop-filter: blur(5px) brightness(0.7);
}

/* Animate the accessibility wrapper opening */
.accessibility-officer-wrapper.open
{
    transform: translate(-100%, 0) translate(-10px, 0);
}

/* The accessibility icon */
.accessibility-officer-icon
{
    height: 60px;
    width: 60px;
    filter: invert( 1 );
}

/* Accessibility text */
.accessibility-officer-text
{
    font-size: 16px;
    align-self: center;
    margin: 0 0 0 15px;
    width: 270px;
    font-family: "Yatra One", cursive;
    color: white;
}
/* General HTML styles */
html
{
    background-image: url("https://d2oaifmaxam9sv.cloudfront.net/assets/background.webp");
    background-size: 100%;
    background-color: black;
    background-repeat: repeat;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body
{
    width: 100%;
}

/* Styles for the card canvas */
.canvas
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    overflow: hidden;
    scroll-behavior: smooth;
}

/* Absolutely position children of the canvas */
.canvas > *
{
    position: absolute;
    will-change: transform, width, height;
    transform-origin: top left;
}

/* Make card contents span the entire card */
.card-inner, .card-face, .card-back, .card-img
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Perspective flipping on the cards */
.card-inner
{
    perspective: 80vh;
    transform-style: preserve-3d;
    animation-timing-function: ease-out;
}

/* Position the front and back side */
.card-back, .card-face
{
    overflow: hidden;
    border-radius: 1vh;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}

/* The card face should be initially flipped and hidden */
.card-face
{
    transform: rotateY(180deg);
    visibility: hidden;
}

/* Animate shaking on clicking */
@keyframes tilt-shaking
{
    0% { transform: rotate(0deg); }
    20% { transform: rotate(6deg); }
    60% { transform: rotate(-3deg); }
    90% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}
.card-inner.clicked
{
    animation: tilt-shaking 300ms;
}

/* Position the countdown wrapper */
.countdown-wrapper
{
    position: absolute;
    font-family: "Yatra One", cursive;
    font-size: 100px;
    color: white;
    width:100%;
    margin: 0;
    top:50%;
    transform: translate(0,-50%);
}

/* Position the countdown text */
.countdown-text
{
    text-align: center;
    display: block;
    margin: 0;
    width: 100%;
}
/* The canvas allows for scrolling */
.popup-canvas
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: auto;
    visibility: hidden;
    scroll-behavior: smooth;
}

/* Absolutely positioned within the fixed canvas */
.popup
{
    position: absolute;
    overflow: hidden;
    margin: 8vmin calc(10% - 26px);
    width: 80%;
    background: url("https://d2oaifmaxam9sv.cloudfront.net/assets/back.faded.webp") repeat center/80vmin;
    border-radius: 12px;
    border: 5px solid #eee;
    will-change: top;
    padding: 20px;
}

/* The Extra outline */
.popup::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    border: 5px solid darkred;
}

/* The Extra outline */
.popup::after
{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 5px;
    border: 5px solid #ccc;
}

/* Popup close button */
.popup-close
{
    font-family: "alegreya";
    text-decoration: none;
    color: black;
    position: absolute;
    height: 3.5vmin;
    background: #eee;
    border-radius: 0.5vmin 0.5vmin 0 0;
    font-size: 3.5vmin;
    text-align: center;
    margin: 8vmin calc(10% - 10px);
    padding: 1vmin 2vmin 2vmin 2vmin;
    will-change: transform;
    right: 0;
    cursor: pointer;
}
.popup-close:hover,
.popup-close:focus
{
    background: #bbb;
}

/* The about popup's styles */
#popup-about-content
{
    font-family: "alegreya";
    line-height: 130%;
    font-size: 4vmin;
    text-align: center;
}
#popup-about-content > p
{
    text-align: justify;
    text-align-last: center;
    color: #ccc;
    margin: 8vmin 4vmin;
}
#popup-about-content > h3, h2
{
    color: #eee;
    margin: 12vmin 4vmin;
}



/* The about popup's styles */
#popup-email-content
{
    font-family: "alegreya";
    line-height: 130%;
    font-size: 4vmin;
    text-align: center;
}
#popup-email-content > h3, h2
{
    color: #eee;
    margin: 12vmin 4vmin;
}
#popup-email-content > #popup-email-committees
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#popup-email-content > #popup-email-committees > .popup-email-committee
{
    display: flex;
    flex-direction: column;
    width: 45vmin;
    padding: 20px;
    color: #eee;
    border-radius: 20px;
    backdrop-filter: blur(5px) brightness(0.7);
    -webkit-backdrop-filter: blur(5px) brightness(0.7);
    text-align: center;
    margin: min(20px, 2vmin);
}
#popup-email-content > #popup-email-committees > .popup-email-committee > h3
{
    margin: 0;
    font-size: 90%;
}
#popup-email-content > #popup-email-committees > .popup-email-committee > h4
{
    font-size: 80%;
    font-weight: normal;
    margin: 0;
}
#popup-email-content > #popup-email-committees > .popup-email-committee > p
{
    font-size: 70%;
    font-style: italic;
    margin: 0;
}/* Width and position */
::-webkit-scrollbar
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
    visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: rgb(162, 4, 3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: rgb(128, 4, 3)
}.contact-wrapper
{
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    margin: 5px;
    height: min(15vw, 80px);
    width: min(250px, 45vw);
    padding: 5px;
    border-radius: 20px;
    backdrop-filter: blur(5px) brightness(0.7);
    -webkit-backdrop-filter: blur(5px) brightness(0.7);
}

.contact-wrapper > a
{
    height: 100%;
}

.email-icon
{
    height: 100%;
}

.fb-icon, .ig-icon
{
    margin: 5px;
    height: calc(100% - 10px);
    aspect-ratio: 1/1;
}