
/* General HTML styles */
html
{
    background-image: url("https://d2oaifmaxam9sv.cloudfront.net/assets/background.crop.small.png");
    background-size: 100%;
    background-color: black;
    background-repeat: repeat;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Styles for the card canvas */
.canvas
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    overflow: hidden;
    scroll-behavior: smooth;
}

/* Absolutely position children of the canvas */
.canvas > *
{
    position: absolute;
    will-change: transform, width, height;
    transform-origin: top left;
}

/* Make card contents span the entire card */
.card-inner, .card-face, .card-back, .card-img
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1vh;
}

/* Perspective flipping on the cards */
.card-inner
{
    perspective: 80vh;
    transform-style: preserve-3d;
    animation-timing-function: ease-out;
}

/* Position the front and back side */
.card-back, .card-face
{
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}

/* The card face should be initially flipped and hidden */
.card-face
{
    transform: rotateY(180deg);
    visibility: hidden;
}

/* Animate shaking on clicking */
@keyframes tilt-shaking
{
    0% { transform: rotate(0deg); }
    20% { transform: rotate(6deg); }
    60% { transform: rotate(-3deg); }
    90% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}
.card-inner.clicked
{
    animation: tilt-shaking 300ms;
}

/* Glowing effect on the last card's face */
.card-face.eighth
{
    /* in order: x offset, y offset, blur size, spread size, color */
    box-shadow: 0 0 40px 1vh #fa3;
}

/* Glowing effect on the last card's back when clicked */
.card-inner.eighth::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1vh;
    box-shadow: 0 0 40px 0.5vh #fa3;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.card-inner.eighth.clicked::before
{
    opacity: 1;
}

/* Position the countdown wrapper */
.countdown-wrapper
{
    position: absolute;
    font-family: "Yatra One", cursive;
    font-size: 100px;
    color: white;
    width:100%;
    margin: 0;
    top:50%;
    transform: translate(0,-50%);
}

/* Position the countdown text */
.countdown-text
{
    text-align: center;
    display: block;
    margin: 0;
    width: 100%;
}
/* The canvas allows for scrolling */
.popup-canvas
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: auto;
    visibility: hidden;
    scroll-behavior: smooth;
}

/* Absolutely positioned within the fixed canvas */
.popup
{
    position: absolute;
    margin: 7vh 5vw;
    width: 90%;
    background: white;
    border-radius: 1vh;
    border: 3px solid white;
    will-change: top;
}

/* Popup close button */
.popup-close
{
    font-family: "Yatra One", cursive;
    position: absolute;
    height: 4vh;
    background: white;
    border-radius: 0.8vh 0.8vh 0 0;
    font-size: 3vh;
    text-align: center;
    margin: 6vh 5vw;
    padding: 10px 30px calc(1vh + 10px) 30px;
    will-change: transform;
    right: -6px;
    top: 2vh;
    cursor: pointer;
}
.popup-close:hover,
.popup-close:focus
{
    background: #bbb;
}

/* The Extra outline */
.popup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1vh;
    border: 3px solid black;
}

/* Width and position */
::-webkit-scrollbar
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
    visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: rgb(162, 4, 3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: rgb(128, 4, 3)
}