
/* The canvas allows for scrolling */
.popup-canvas
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: auto;
    visibility: hidden;
    scroll-behavior: smooth;
}

/* Absolutely positioned within the fixed canvas */
.popup
{
    position: absolute;

    overflow: hidden;
    margin: 8vmin calc(10% - 26px);
    width: 80%;
    background: center/800px url("/assets/back.cropped.faded.png") #050505 repeat;
    border-radius: 12px;
    border: 5px solid #eee;
    will-change: top;
    padding: 20px;
}

/* The Extra outline */
.popup::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    border: 5px solid darkred;
}

/* The Extra outline */
.popup::after
{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 5px;
    border: 5px solid #ccc;
}

/* Popup close button */
.popup-close
{
    font-family: "Yatra One", cursive;
    text-decoration: none;
    color: black;
    position: absolute;
    height: 3.5vmin;
    background: #eee;
    border-radius: 0.5vmin 0.5vmin 0 0;
    font-size: 3.5vmin;
    text-align: center;
    margin: 8vmin calc(10% - 10px);
    padding: 1vmin 2vmin 2vmin 2vmin;
    will-change: transform;
    right: 0;
    cursor: pointer;
}
.popup-close:hover,
.popup-close:focus
{
    background: #bbb;
}

/* The about popup's styles */
#popup-about-content
{
    font-family: 'Yeseva One', cursive;
    font-size: 4vmin;
    text-align: center;
}
#popup-about-content > p
{
    text-align: justify;
    text-align-last: center;
    color: #ccc;
    margin: 10vmin 4vmin;
}
#popup-about-content > h3
{
    color: #eee;
    margin: 16vmin 4vmin;
}
#popup-about-content > h2
{
    color: #eee;
    margin: 12vmin 4vmin 16vmin 4vmin;
}

